@model food_delevery_google_auth_Final_V.Entity.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLivreur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLivreur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCommande">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
