@model food_delevery_google_auth_Final_V.Entity.Livreur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livreur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneLivraison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneLivraison)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLivreur">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
